.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}
.text-uft{
	color:#8f0000;
}

.btn-uft{
	color:#FFFFFF;
	background-color: #8f0000;
}

.bg-login-image-uft{
	background:url(../img/logouft.jpg);
	background-position:center;
	background-size:cover;
	padding-top: 10px;
}

.sidebar-uft{
    color: #7d1414 !important;
}

.text-uft:hover{
    color: #000000 !important;
}

.bg-gradient-primary .text-white:hover{
    color: #000000 !important;
}
